body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

/* 
=============
  Re-usable  
=============
*/
.container, .container-fluid {
  margin: auto;
  overflow: hidden;
}
.container-fluid {
  width: 100%;
}
.container {
  width: 80%;
}
h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 300;
  padding: 0;
}

/* 
==========
  Header 
==========
*/
header {
  background-color: #112f41;
  color: #fff;
}
header a {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}
header li {
  padding: 0 10px;
  display: inline;
}
header nav {
  float: right;
  margin-top: 5px; 
}
header nav a {
  border-bottom: 2px solid #fff;
  padding-bottom: 3px;
}
header #logo {
  float: left;
}
header #logo a img {
  height: 70px;
}
/* 
=================
  Dropdown Menu  
=================
*/
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .btn-drop {
  font-size: 16px; 
  border: none;
  border-bottom:  2px solid #fff;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.nav a:hover, #dropdown:hover .btn-drop {
  background-color: #112f41;
}
.dropdown-links {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-links a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-links a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-links {
  display: block;
}

/* 
=========
  Jumbo  
=========
*/
#jumbo {
  background: url('../img/intro-bg.jpg'), no-repeat;
  color: #fff;
  text-align: center;
  font-weight: 400;
  height: 70vh;
}
#jumbo h1 {
  margin-top: 100px;
  font-size: 70px;
  margin-bottom: 5px;
}
#jumbo p {
  font-size: 20px;
}
#jumbo .jumbo-button {
  padding: 10px 15px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
#jumbo .jumbo-button:hover {
  background: #fff;
  border: 2px solid #fff;
  color: #000;
}
/* 
=========
  Story  
=========
*/
#story {
  background-color: #4fb99f;
  padding-bottom: 20px;
  color: #fff;
}
#story p {
  text-align: center;
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
}

/* 
============
  Features 
============
*/
#features {
  background-color: #f2b134;
  padding-bottom: 20px;
  color: #112f41; 
}
#features .feature {
  float: left;
  width: 30%;
  text-align: center;
  padding: 10px;
}
#features .feature p {
  font-weight: 300;
}

/* 
==============
  Politician 
==============
*/
#politician {
  background: url('../img/bg-wood.jpeg'), no-repeat;
  min-height: 350px;
  opacity: 0.8;
  color: #fff;
  text-align: center;
}
#politician h2 {
  margin: 0;
  padding-top: 10px; 

}
#politician h3 {
  margin: 0;
  padding: 20px 0;
  font-size: 25px;

}
#politician button {
  padding: 10px 15px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
#politician button:hover {
  background: #fff;
  border: 2px solid #fff;
  color: #000;
}
/* 
==========
  Footer 
==========
*/
footer {
  background-color: #ed533b;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* 
======================
  Admin User Pages  
======================
*/

/* 
====================
  CreateGovtOffice 
====================
*/
#create-office {
  background: #ed533b;
  text-align: center;
  padding-bottom: 30px;
}
#create-office h2 {
  margin-top: 100px; 
  color: #fff;
  font-size: 40px;
  font-weight: 300;
}
#create-office form {
  width: 40%;
  margin: 0 auto;
}
#create-office form .form-header {
  background-color: #112f41;
  height: 70px;
}
#create-office .form-header h3 {
  margin: 0 auto;
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
}
form .input-container {
  background: #fff;
  color: #112f41;
  padding: 20px 10px;
}
form .field {
  padding: 10px 0;
  text-align: left;
}
form .fa {
  font-size: 20px;
}
form .parties {
  width: 90%;
  background: #f4f4f4;
  color: #112f41;
  padding: 7px 0;
}
#create-office button {
  color: #fff;
  vertical-align: baseline;
  padding: 12px 20px;
  background-color: #112f41;
  width: 100%;
  font-weight: 700;
  margin-top: 15px; 
}
/* Footer */
.create {
  background-color: #112f41;
}

/* 
==========================
  Create Political Party 
==========================
*/
#create-party {
  background: #fff;
  padding-bottom: 20px;
  color: #112f41;
}
#create-party h2 {
  margin-top: 100px; 
  color: #112f41;
}
form {
  width: 40%;
  margin: 0 auto;
}
form input {
  background-color: #fff;
  width: 100%;
  padding: 1em 0;
  overflow: hidden;
  margin: 0 auto;
}

/* 
========================
  Edit Political Party  
========================
*/
#edit-party {
  background: #fff;
  padding-bottom: 20px;
  color: #112f41;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #112f41;
  color: white;
  padding: 12px 20px;
  border: none;
  float: right;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* 
==================
  Delete A Party  
==================
*/
#delete-party {
  background: #fff;
  padding-bottom: 20px;
  color: #112f41;
}
#delete-party .container {
  margin-bottom: 20px;
}
#delete-party h2 {
  margin-top: 100px; 
  color: #ed533b;
}
#delete-party input[type=submit] {
  background-color: #ed533b;
  color: #fff;
}

/* 
===========
  Runners  
===========
*/
#runners .container {
  margin-bottom: 20px; 
}

/* 
===========
  Profile  
===========
*/
/* Profile Card */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 4px;
  background: url('../img/bg-wood.jpeg'), no-repeat;
  color: #fff;
  height: 300px;
}

.card img {
  height: 200px;
  border-radius: 50%;
  float: left;
  border: 2px solid#fff;
  margin-left: 10px;

}

.user-details {
  float: right;
  width: 56%;
  margin-right: 10px;
}
.title {
  color: #fff;
  font-size: 18px;
  padding: 5px 0;
  border-bottom: 2px solid #f4f4f4;
}
/* Voted For */
.sm-card {
  float: left;
  width: 30%;
  text-align: center;
  padding: 10px;
}
.sm-card img {
  width: 200px;
  height: 200px;
}
.sm-card .title {
  color: #112f41;
  font-size: 14px;
}

/* 
=================
  View Party
=================
*/
#view-parties {
  padding: 20px 0; 
}
#view-parties .party {
  float: left;
  width: 45%;
  text-align: center;
  padding: 10px;
}

#view-parties .party .party-card {
  border: 2px solid #112f41;
  margin: 0;
}

.party-card h3 {
  background-color: #112f41;
  color: #fff;
  padding: 1em;
}
.party-card div img {
  width: 100%;
  height: 300px;
}
.party-card div p {
  border-bottom: 2px solid #112f41;
  padding: 10px;
}
.party-card div p:first-of-type {
  border-top: 2px solid #112f41;
}
.party-card div p:last-of-type {
  border-bottom: none;
}

/* 
===========
  Vote
===========
*/
#vote {
  padding: 20px 0; 
}
#vote .runner-card {
  float: left;
  width: 30%;
  text-align: center;
  padding: 10px;
}
.runner-card div img {
  height: 180px;
}
.runner-card div button {
  background-color: #4fb99f;
  color: #fff;
  padding: 10px;
  width: 60%;
  margin: 0 auto;
  font-weight: 700;
}

/* 
==============
  Running
==============
*/
#running {
  padding: 20px 0;
}
#running .runner-card {
  float: left;
  width: 30%;
  text-align: center;
  padding: 10px;
}